<h1>Sửa sản phẩm</h1>
<form [formGroup]="productForm" (ngSubmit)="updateProduct(id)">
  <table>
    <tr>
      <td>Name:</td>
      <td><input type="text" formControlName="name" class="form-control" [(ngModel)]="product.name"></td>
    </tr>
    <tr>
      <td>Price:</td>
      <td><input type="text" formControlName="price" class="form-control" [(ngModel)]="product.price"></td>
    </tr>
    <tr>
      <td>Description:</td>
      <td><input type="text" formControlName="description" class="form-control" [(ngModel)]="product.description"></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button class="btn btn-success">Submit</button>
      </td>
    </tr>
  </table>
</form>

<p *ngIf="message != ''" class="text-success">{{message}}</p>
