<h1>Danh sách sản phẩm</h1>
<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Price</th>
    <th scope="col">Description</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let product of products">
    <tr>
      <th scope="row">{{product.id}}</th>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.description}}</td>
      <td><a [routerLink]="['/update-product', product.id]">
        <button class="btn btn-success">Sửa</button>
      </a></td>
    </tr>
  </ng-container>
  </tbody>
</table>
<p *ngIf="products.length == 0"> Chưa có sản phẩm nào ở đây cả anh zai ạ!!</p>


